/* 메인 페이지 스타일 */

#wrap {
    width: 100%;
}

/* 헤더 */
#wrap #header {
    width: 100%;
    height: 80px;
    min-width: 1440px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

#header:hover {
    background: #000;
    transition: 0.6s;
}

#header .nav a img {
    vertical-align: middle;
}
#header .nav {
    display: flex;
    width: 1440px;
    line-height: 80px;
    justify-content: space-between;
}

#header .nav ul {
    display: flex;
    margin: 0 50px;
}

#header .nav ul li a {
    display: block;
    height: 80px;
    padding: 0 50px;
    color: #fafafa;
}

#header .nav .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
#header .nav .icons p {
    display: block;
    padding: 20px;
    cursor: pointer;
}

#header .nav .icons p img {
    display: inline-block;
    vertical-align: middle;
}

/* 메인 배너 */
#main {
    display: flex;
    justify-content: center;
    height: 920px;
    min-width: 1440px;
}

#main .con {
    width: 1440px;
    padding-top: 270px;
    color: #fafafa;
}

#main .con > p {
    font-size: 22px;
    margin-top: 50px;
}

#main .con .btn_arrow {
    display: flex;
    margin-top: 250px;
    gap: 10px;
}

#main .con .btn_arrow p,
#main .con .btn_arrow p i {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main .con .btn_arrow p i {
    width: 50px;
    height: 50px;
    font-size: 40px;
    cursor: pointer;
}

/* 콘텐츠 1, solution */

#contents .con {
    display: flex;
    justify-content: center;
    min-width: 1440px;
    padding: 120px 0;
}
#contents .con.con1 .inner {
    width: 1440px;
}

#contents .con.con1 .content1 {
    display: flex;
    padding: 100px 0;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
#contents .con.con1 .inner ul {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
#contents .con.con1 .inner ul li {
    background: #ddd;
    height: 10px;
    width: 10px;
    border-radius: 50px;
}

#contents .con.con1 .btn_more {
    width: 173px;
    height: 53px;
    border: 1px solid #bababa;
    font-size: 16px;
    gap: 10px;
    margin-top: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#contents .con.con1 .btn_more i {
    font-size: 25px;
    display: inline-block;
    padding-bottom: 4px;
}

#contents .con.con1 .btn_more:hover {
    border: 1px solid #009c83;
    background: #00b094;
    color: #fafafa;
    transition: 0.3s;
}

#contents .con.con1 .left,
#contents .con.con1 .indicator {
    padding-left: 100px;
}
#contents .con.con1 .indicator {
    margin-top: 100px;
}
#contents .con.con1 .left > h4 {
    margin-bottom: 40px;
}
#contents .con.con1 .right {
    width: 360px;
    height: 360px;
    border-radius: 20px;
    background: linear-gradient(180deg, #2b0a6c 0%, #000 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 콘텐츠 2, service */

.con2 .inner .service_list {
    display: flex;
    justify-content: center;
    margin-top: 120px;
}

.con2 .inner .service_list .list {
    width: 100px;
    height: 484px;
    background: #004439;
    box-sizing: border-box;
    border: 1px solid #1f1f1f;
    margin-right: -1px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
    cursor: pointer;
}
.con2 .inner .service_list .list p {
    color: #fff;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    white-space: nowrap;
    font-size: 30px;
    font-weight: 700;
    margin: 0;
}
.con2 .inner .service_list .list:last-child {
    margin-right: 0;
}

/* 콘텐츠 3, security issue */

.con3 .inner .list {
    display: flex;
    justify-content: space-between;
    margin-top: 76px;
}

.con3 .inner .list .item {
    background: #2c2c2c;
    color: #fafafa;
    width: 100%;
    margin-right: 27px;
    height: 250px;
    padding: 30px;
    position: relative;
    cursor: pointer;
}

.con3 .inner .list .item:last-child {
    margin-right: 0px;
}

.con3 .inner .list .item .label {
    display: block;
    text-align: center;
    padding: 3px 11px;
    width: 70px;
    height: 26px;
    margin-bottom: 15px;
    color: #00b094;
    background: #000;
}

.con3 .inner .list .item span.date {
    font-size: 14px;
    position: absolute;
    margin-bottom: 50px;
    bottom: 0;
}

.con3 .inner .list .item p {
    font-size: 20px;
    font-weight: 700;
}

.con3 .inner .magazine {
    width: 100%;
    display: flex;
    justify-content: right;
    margin-top: 42px;
}

.con3 .inner .btn_magazine {
    display: flex;
    cursor: pointer;
    width: 48.1%;
    height: 190px;
    border-radius: 40px;
    position: relative;
    overflow: hidden;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 50.07%, rgba(255, 255, 255, 0.3) 100%),
        #00c3a4;
}

.con3 .inner .btn_magazine:hover {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 50.07%, rgba(255, 255, 255, 0.3) 100%),
        #00B094;
}

.con3 .inner .btn_magazine {
    color: #fff;
}
.con3 .inner .btn_magazine .btnText > p {
    display: inline-block;
    height: 64px;
}
.con3 .inner .btn_magazine .btnText {
    display: flex;
    align-items: end;
    gap: 10px;
    margin-left: 50px;
    margin-bottom: 60px;
}
.con3 .inner .btn_magazine .month {
    font-family: 'Outfit';
    font-size: 120px;
    font-weight: 200;
}

.con3 .inner .btn_magazine .title {
    font-size: 24px;
    font-weight: 700;
}

.con3 .inner .btn_magazine .date {
    font-weight: 500;
}

.con3 .inner .btn_magazine .magazine_arrow {
    display: block;
    position: absolute;
    bottom: 0;
}

.con3 .inner .btn_magazine:hover .magazine_arrow {
    animation: magazine_hover 1s infinite;
}
@keyframes magazine_hover {
    0% {
        left: 0px;
    }
    100% {
        left: 50px;
    }
}

/* 콘텐츠 4, visual */
.con {
    position: relative;
}
.con4 .inner {
    display: flex;
}
.con4 .inner .left {
    width: 40%;
    padding-top: 200px;
    /* background: #000; */
}
.con4 .inner .left .btn {
    display: flex;
    margin-top: 100px;
    gap: 30px;
}

.con4 .inner .left .btn p {
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    padding: 10px;
    border: 1px solid #ddd;
}

.con4 .inner .left .btn p:hover {
    background: #ddd;
    cursor: pointer;
}

.con4 .inner .right {
    position: absolute;
    width: 50%;
    height: 800px;
    background-image: url(/assets/images/common/con4_background.jpg);
    top: 130px;
    right: 0;
    overflow: hidden;
}
.con4 .inner .right .cardbox {
    position: relative;
}

.con4 .inner .right .cardList {
    display: flex;
    position: absolute;
    left: -180px;
    top: 240px;
    gap: 20px;
}
.con4 .inner .right .postcard {
    display: inline-block;
    cursor: pointer;
    width: 280px;
    height: 400px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(5px);
    position: relative;
}
.con4 .inner .right .postcard p {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    padding: 70px 50px 0 30px;
}

.con4 .inner .right .postcard img {
    position: absolute;
    bottom: 40px;
    right: 30px;
}

.con4 .inner .right .postcard:nth-child(2) {
    transform: translateY(-100px);
}

/* 콘텐츠 5, igloo people */
.con5 .inner .hr_card {
    margin-top: 66px;
}

.con5 .inner .hr_card .list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: end;
}

.con5 .inner .hr_card .list .card:nth-child(1) {
    visibility: hidden;
}
.con5 .inner .hr_card .list .card:nth-child(7) {
    visibility: hidden;
}

.con5 .inner .hr_card .card {
    width: 300px;
    height: 300px;
    border: none;
    background: #fefefe;
    /* background: #000; */
    /* display: flex; */
    position: relative;
    padding-left: 28px;
}

.con5 .inner .hr_card .card .label {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    padding: 2px 10px;
    border-radius: 30px;
    color: #fff;
    background: #00927b;
    margin-top: 40px;
}

.con5 .inner .hr_card .card .title {
    color: #171717;
    font-family: 'Outfit';
    font-size: 32px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 20px;
    letter-spacing: -0.32px;
}

.con5 .inner .hr_card .card .subtitle {
    padding-right: 28px;
    word-break: keep-all;
}

.con5 .inner .hr_card .card .career {
    color: #171717;
    font-size: 15px;
    text-decoration-line: underline;
    margin-top: 40px;
}

.con5 .inner .hr_card .card8 .title,
.con5 .inner .hr_card .card8 .subtitle,
.con5 .inner .hr_card .card8 .btn_apply {
    margin-left: 20px;
}

.con5 .inner .hr_card .card8 .title {
    margin-top: 66px;
}

.con5 .inner .hr_card .card8 .subtitle {
    margin-top: 5px;
    margin-bottom: 40px;
}

.con5 .inner .hr_card .card8 .career {
    font-size: 15px;
    text-decoration-line: underline;
    margin-top: 39px;
}

.con5 .inner .hr_card .card8 .btn_apply {
    display: inline-flex;
    padding: 15px 33px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid #bababa;
}
.con5 .inner .hr_card .card8 .btn_apply i {
    font-size: 25px;
    display: inline-block;
    padding-bottom: 4px;
}

.con5 .inner .hr_card .card8 .btn_apply:hover {
    cursor: pointer;
    border: 1px solid #009c83;
    background: #00b094;
    color: #fafafa;
    transition: 0.3s;
}

.con5 .inner .hr_card .card2 {
    box-shadow: -5px 0 0 #00927b, 0 -5px 0 #00927b;
}

.con5 .inner .hr_card .card2::before {
    background: url(../images/common/main_ai2.svg);
    background-size: 200px 200px;
    background-repeat: no-repeat;
}

.con5 .inner .hr_card .card3 {
    box-shadow: 0 -5px 0 #00927b, 0 5px 0 #00927b;
}

.con5 .inner .hr_card .card3::before {
    background: url(../images/common/main_ai3.svg);
    background-size: 200px 200px;
    background-repeat: no-repeat;
}

.con5 .inner .hr_card .card4 {
    box-shadow: 5px 0 0 #00927b, 0 -5px 0 #00927b;
}

.con5 .inner .hr_card .card4::before {
    background: url(../images/common/main_ai4.svg);
    background-size: 200px 200px;
    background-repeat: no-repeat;
}

.con5 .inner .hr_card .card5 {
    box-shadow: -5px 0 0 #00927b, 0 -5px 0 #00927b, 0 5px 0 #00927b;
}

.con5 .inner .hr_card .card5::before {
    background: url(../images/common/main_ai.svg);
    background-size: 200px 200px;
    background-repeat: no-repeat;
}

.con5 .inner .hr_card .card6 {
    box-shadow: 5px 0 0 #00927b, 0 5px 0 #00927b;
}

.con5 .inner .hr_card .card6::before {
    background: url(../images/common/main_ai1.svg);
    background-size: 200px 200px;
    background-repeat: no-repeat;
}

.con5 .inner .hr_card .card8 {
    box-shadow: 5px 0 0 #00927b, 0 5px 0 #00927b, -5px 0 0 #00927b;
}

.con6 {
    background: #000;
    color: #fff;
}

.con6 .inner .title {
    display: flex;
    gap: 75px;
    align-items: center;
}

.con6 .inner .title h4 {
    font-family: 'Outfit';
    font-size: 48px;
    font-weight: 700;
}

.con6 .inner .title .line {
    width: 648px;
    height: 2px;
    background: #00c3a4;
}

.con6 .inner .subtitle {
    margin-top: 5px;
    margin-bottom: 44px;
}

.con6 .inner .btn_contact {
    display: inline-flex;
    padding: 8px 15px;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    color: #fff;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    gap: 10px;
}
.con6 .inner .btn_contact:hover {
    background: rgba(255, 255, 255, 0.5);
}

#footer {
    background: #1f1f1f;
    display: flex;
    justify-content: center;
    min-width: 1440px;
    padding: 50px 0;
}

#footer .inner {
    color: #999;
    font-size: 15px;
    width: 1440px;
}
#footer .inner a {
    color: inherit;
}
#footer .inner .adr {
    margin-top: 130px;
}

#footer .inner .array {
    display: flex;
    justify-content: space-between;
    align-items: end;
}
#footer .inner .array .gap {
    margin-left: 30px;
    margin-right: 30px;
}

#footer .inner .array .sns_box ul li a {
    margin-right: 5px;
}

#visual .bg {
    width: 100%;
    height: 1000px;
    min-width: 1440px;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: -1;
}
#visual .bg video {
    width: 100%;
    height: 1000px;
    min-width: 1440px;
    display: block;
    object-fit: cover;
}
